Environment="ALIDDNSCONFIG=/etc/go-aliddns/config.yaml"

[Unit]
Description="GO aliddns service"
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=exec
ExecStart=aliddns

[Install]
WantedBy=multi-user.target
DefaultInstance=default
